* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.MA-CourseSingle-Hero {
  width: 1366px;
  height: 250px;
  background-color: #000000;
}


.MA-CourseSingle-Detail {
  width: 917.78125px;
  height: 874px;
  gap: 40px;
  margin: 0 auto;
  background-color: aqua;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 90px;

  padding: 0px 440px 0px 0px;

  opacity: 0px;
}

.MA-course-single-form{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.MA-course-single-form .MA-course-single-form-input1{
  min-width: 250px;
  margin-right: 15px;
}
.MA-course-single-form .MA-course-single-form-input2{
  min-width: 250px;
  margin-left:  15px;
}

.MA-course-single-form-comments{
  min-width: 604px;
  min-height: 110px;
  background-color: blueviolet;
}